body{
  background-image: url(https://smartbuildingsmagazine.com/imager/news/103090/Air_comparison_46527c80523046a5c0b3b8e30581599a.jpg);
  background-size: 100%;
  text-align: center;
}
.button-bg{
   
  background: whitesmoke;
  padding: 15px 20px;
  color: black;
  border-radius: 30px;
  margin: 50px;
  font-size: 125%;
  position: relative;
    
  }


.container{
    width: 100vw;
    height: 100vh;
    color: white;

}
hr{
   width: 10%;
}
h1{
    font-size: 400%;
    
}
h2{
    font-size: 300%;
    
}
h3{
    font-size: 200%;
}
h4{
    font-size: 200%;
}
